body{
  background-color: #876887;
}

.container {
    height: 600px;
    background-color: #876887;
    height: 2000px;
}

h1 {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    background-color: #876887;
}

.newShoe {
    text-align: right;
}

img {
    transition-property: 50px;
    width: 200px;
    height: 200px;
}
.left{
  width:50%;
  float: left;
  /*display:inline-block;*/
  /*color: white;*/
}
.right{
  float: left;
  width: 50%;
  text-color:white;

}

h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 24px;
    color: #fff;
}
table {
    margin: 10px;
    text-align: center;
}
th, td {
    padding: 5px;
    border: 1px solid #999;
}
th {
    background: #ccc;
}
/*tr:nth-child(odd) {
    background: #eee;
}*/
td a {
    /*color: #000;*/
    text-decoration: underline;
}
}
.more{
  text-align: right;
  font-size: 40px;
  font-family: verdana;
  margin-top: 0 100px;

}
