body{
  /*background-color: #876887;*/
background-image: url('https://thumb1.shutterstock.com/display_pic_with_logo/980054/273277409/stock-photo-beach-accessories-on-wooden-board-copy-spase-273277409.jpg');
background-repeat: : no-repeat;
background-size: cover;
}

h1 {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    background-color: #876887;
}

h1 {
    margin: 0 0 10px 0;
    padding: 5px;
    font-size: 24px;
    color: #fff;
}
table {
    /*margin: auto;*/
    text-align: center;

}
th, td {
    padding: 5px;
    border: 1px solid #999;
}
th {
    background: #ccc;
}
/*tr:nth-child(odd) {
    background: #eee;
}*/
td a {

    /*text-decoration: underline;*/
}
